* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    background: #f4f5f6;
    min-width: 320px;
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  body {
      background: #fff;
      color: #2d3c48;
      font: 14px "SQMarket","Helvetica Neue",sans-serif;
      line-height: 20px;
      margin: 0;
      -webkit-font-smoothing: antialiased;
  }
  
  ul{
    list-style: none;
  }
  .wrapper {
    font-size: 1.14286em;
    line-height: 1.25em;
    min-height: 511px;
    max-width: 1164px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
  }
  
  .profile-masthead {
    float: left;
    padding-top: 2.85714em;
    padding-bottom: .92857em;
    width: 100%;
  }
  
  .profile-logo {
    min-height: 80px;
    position: relative;
    width: 100%;
    float: left;
    margin-right: 1.71821%;
    display: inline;
  }
  
  .profile-logo-image {
    float: left;
    height: 100px;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
  
  .profile-logo img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    height: 100px;
    text-decoration: none;
    vertical-align: middle;
    width: 100px;
  }
  
  .profile-name {
    font-size: 2em;
    line-height: 1.1em;
    box-orient: vertical;
    box-pack: center;
    display: block;
    font-weight: 300;
    min-height: 2.57143em;
    margin-left: 130px;
    margin-top: .03571em;
    width: 100%;
  }
  
  .profile-name h1 {
    line-height: 1.3em;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    font-size: 1.2em;
    min-height: 49px;
  }
  
  .profile-name p {
    width: 100%;
    text-align: left;
    font-size: 0.4em;
    font-weight: 100;
    margin-top: 0;
    line-height: 2em;
    margin-bottom: 0;
    color: #8b949e;
    font-family: Segoe UI,Helvetica,Arial,sans-serif,Segoe UI Emoji;
  }
  
  .profile-name ul{
    padding-left: 0;
    margin-top: 0;
    font-size: 0.4em;
    line-height: 1.5em;
    display: flex;
    font-family: Segoe UI,Helvetica,Arial,sans-serif,Segoe UI Emoji;
  }
  
  .profile-name li{
    max-width: 230px;
    margin: 0 15px;
    color: #a8aeb3;
  }
  
  .profile-name li a:hover{
    color: #a8aeb3;
  }
  
  .profile-name li a:link{
    color: #a8aeb3;
  }
  
  .profile-name li a:visited{
    color: #a8aeb3;
  }
  
  .profile-name li a:active{
    color: #a8aeb3;
  }
  
  .profile-name li:first-child{
    margin-left: 0;
  }
  
  .profile-name svg {
    transform: translate(0%, 15%);
    fill: #a8aeb3;
  }
  .profile-summary {
    text-align: right;
    min-height: 80px;
  }
  
  .summary-module {
    overflow: hidden;
  }
  
  .summary-module:first-child {
    margin-top: 0;
  }
  
  .summary-module a {
    display: block;
  }
  
  a {
    color: #3e8cb7;
    text-decoration: none;
  }
  
  .profile-content {
    clear: both;
    position: relative;
  }
  
  .profile-description {
    padding-bottom: .8em;
    text-align: center;
    border-top: solid rgba(128, 128, 128, 0.171) 1px;
    font-family: Segoe UI,Helvetica,Arial,sans-serif,Segoe UI Emoji;
  }
  
  .profile-description p {
    font-size: 1.15em;
    line-height: 1.45455em;
    font-weight: 150;
    margin: 0.8em auto 0 auto;
    color: #858c94;
  }
  
  .profile-content-title {
    color: #595d62;
    margin: 0 auto;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    border-top: solid rgba(128, 128, 128, 0.171) 1px;
  }
  
  .fprofile-content-title p {
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
    text-decoration: none;
  }
  
  .profile-menu {
    border-top: solid rgba(128, 128, 128, 0.171) 1px;
    display: block;
  }
  
  .menu-category {
    position: relative;
    padding: 2em 0;
  }
  
  .menu-category-list {
    list-style: none;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .menu-item {
    position: relative;
    margin: 1.2em auto 0 auto;
    width: 70%;
    height: 17em;
  }
  
  .menu-item-info {
    width: 100%;
    min-height: 40px;
    position: relative;
  }
  
  .menu-item-name {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: .07em;
    margin-top: .07em;
    line-height: 1.25em;
    font-size: 1.2em;
    text-align: center;
  }
  
  .menu-item-description {
    color: #959ba2;
    z-index: -1;
    overflow: hidden;
    height: 276px;
    opacity: 0;
    transition: opacity .3 ease;
  }
  
  #tizen{
    font-size: .8em;
  }
  
  .menu-item-image a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
  }
  
  .menu-item-image img{
    max-width: 100%;
    position: relative;
    box-shadow: 0 5px 10px rgba( #000, .8 );
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateZ( 0 );
    transition: all .3s ease;
    filter: grayscale(100%) brightness(0.3);
  }
  
  .menu-item-image img:hover{
    transform: translateY( -3px ) scale( 1.07 );
    background: linear-gradient( to top, transparent, #fff 15%, rgba( #fff, .5 ) );
    z-index: 10;
    opacity: 0.9;
  }
  
  .footer {
    background: #f4f5f6;
    display: block;
    border-top: 1px solid #eff0f1;
    width: 100%;
    z-index: -1;
  }
  
  .footer-navigation {
    color: #b0b8c1;
    margin: 0 auto;
    width: 83.14286em;
    padding-top: 1.35714em;
    padding-bottom: 1.14286em;
    text-align: center;
  }
  
  .footer-navigation-list {
    list-style: none;
    white-space: nowrap;
    margin-bottom: 0;
    padding: 0;
  }
  
  .footer-navigation-item {
    display: inline-block;
    margin-left: 16px;
    position: relative;
  }
  
  .footer-navigation-item:first-child {
    margin-left: 0;
  }
  
  .footer-navigation-item a {
    color: #b0b8c1;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
    text-decoration: none;
  }
  
  .footer-navigation-item a:hover {
    color: #3e8cb7;
  }
  
  .icon-hisplayer-footer {
    height: 23px;
    width: 23px;
    display: inline-block;
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .4;
  }
  .copyright {
    margin: 0;
  }
  
  @media screen and (min-width: 63.9375em) {
  
    .profile-name{
      max-width: 88%;
    }
  
    .profile-name h1{
      max-width: 89%;
    }
  
    .profile-name p{
      max-width: 89%;
    }
  
    .profile-name ul{
      max-width: 89%;
    }
  
    #tizen{
      font-size: 1em;
    }
  
    .footer-navigation {
      width: 100%;
    }
  
  }
  
  @media screen and (min-width: 48em) and (max-width: 63.9375em){
    
    .wrapper {
      max-width: 720px;
    }
  
    .profile-masthead {
      padding-bottom: 1.92857em;
    }
  
    .profile-name{
      max-width: 82%;
    }
    
    .profile-logo img {
      transform: translate(0, 13%);
    }
  
    .profile-name h1 {
      max-width: 82%;
    }
  
    .profile-name p {
      max-width: 82%;
    }
    
    .profile-name ul {
      max-width: 82%;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 0.3em;
    }
  
    .profile-name ul li:nth-child(3){
      margin-left: 0;
    }
  
    .menu-item{
      height: 11em;
    }
  
    .footer-navigation {
      width: 51.42857em;
    }
  }
  
  @media screen and (min-width: 37.5em) and (max-width: 47.9375em){
    .wrapper {
      max-width: 572px;
    }
  
    .profile-name{
      max-width: 77%;
    }
  
    .profile-name  h1 {
      max-width: 77%;
    }
  
    .profile-name p{
      max-width: 77%;
    }
  
    .profile-name ul{
      max-width: 77%;
    }
  
    .profile-logo img {
      transform: translate(0, 10%);
    }
    
    .profile-name p {
      font-size: 0.35em;
    }
  
    .profile-description p{
      font-size: 1em;
    }
  
    .profile-name ul {
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 0.3em;
    }
    .profile-name ul li:nth-child(3){
      margin-left: 0;
    }
  
    .menu-category-list {
      list-style: none;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0;
    }
  
    .menu-item{
      height: 13em;
    }
  
    .footer-navigation {
      width: 40.85714em;
    }
  }
  
  
  @media screen and (min-width: 30em) and (max-width: 37.4375em){
    .wrapper {
      max-width: 424px;
    }
    
    .profile-name {
      margin: 0;
      font-size: 1.5em;
    }
  
    .profile-name h1 {
      width: 100%;
      text-align: center;
    }
  
    .profile-name p {
      text-align: center;
    }
    
    .profile-name ul {
      text-align: center;
    }
  
    .profile-logo {
      float: none;
    }
  
    .profile-description p {
      font-size: .9em;
    }
  
    .profile-logo-image {
      margin-top: .07143em;
      margin-bottom: 1.21429em;
      float: none;
    }
  
    .menu-category-list {
      list-style: none;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    
    .menu-item{
      height: 14em;
    }
  
    .footer-navigation {
      width: 30.35714em;
    }
  }
  
  @media only screen and (max-width: 29.9375em){
    .wrapper {
      max-width: 276px;
      height: auto;
    }
  
    .profile-name {
      margin: 0;
      font-size: 1.5em;
    }
  
    .profile-name h1 {
      width: 100%;
      text-align: center;
    }
  
    .profile-name p {
      text-align: center;
    }
  
    .profile-name ul {
      flex-direction: column;
      align-items: center;
    }
  
    .profile-description p {
      font-size: .9em;
    }
  
    .profile-logo {
      float: none;
    }
  
    .profile-logo-image {
      margin-top: .07143em;
      margin-bottom: 1.21429em;
      float: none;
    }
    
    .menu-item{
      width: 50%;
      height: 13em;
    }
    
    .menu-item-info {
      max-height: 198px;
    }
  
    .menu-category {
      padding-top: 0;
    }
  
    .menu-category-list {
      list-style: none;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      padding: 0;
      margin: 0;
      height: auto;
    }
  
    .footer-navigation {
      width: 19.78571em;
    }
  }
  
  @media only screen and (min-height: 1127px) and (min-width:  48em){
    .wrapper{
      height: 100vh;
    }
  }